#mainForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    color: #ff3cef;
    width: 300px;
    height: 400px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
    border: 5px solid #d50081;
    padding-top: 0px;

    box-shadow: 8px 8px 37px 11px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s;
}

#mainForm form:hover{
    box-shadow: 8px 8px 37px 18px rgb(129, 20, 178);
}

#mainForm form label{
    display: flex;
    user-select: none;
    /*justify-content: center;*/
}

#mainForm form input{
    border-radius: 5px;
    height: 20px;
    background-color: rgba(255, 58, 221, 0.66);
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);

    transition: box-shadow 1s, transform 1s;
}

@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-1px); }
    50% { transform: translateY(1px); }
    75% { transform: translateY(-1px); }
    100% { transform: translateY(1px); }
}

#mainForm input:hover{
    box-shadow: 0px 0px 20px 15px rgb(129, 20, 178);
    animation: shake 0.55s;
}

::placeholder{
    color: rgba(0, 0, 0, 0.75);
}

#mainForm #email label{
    margin-top:15px;
}
#mainForm label{
    margin-top: 15px;
}

#mainForm #RegisterButtonContainer button {
    margin-top: 40px;
    width: 150px;
    height: 60px;
    background: linear-gradient(45deg, #fc00ff, #0059de);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;

    user-select: none;
}

#mainForm #RegisterButtonContainer button:hover {
    animation-name: gradient-fade; /* Use the animation you defined */
    animation-duration: 1s;
    transform: scale(1.05);
}

#mainForm #RegisterButtonContainer button:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}

#mainForm #LoginButton{
    position: absolute;
    transform: translateY(200px);

    width: 70px;
    height: 30px;
    border-radius: 5px;

    background: linear-gradient(45deg, #bd38ff, #d700de);

    color: #fff;
    /*font-size: 18px;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    user-select: none;
    transition: transform 0.5s, box-shadow 0.5s;
}

#mainForm #LoginButton:hover {
    box-shadow: 0px 0px 30px 10px rgba(250, 169, 255, 0.48);
}

#mainForm #LoginButton:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}

#mainForm #registerTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    position: absolute;
    width: 340px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -125%);
    text-align: center;
    animation: pulse 2.5s infinite;

    color: #ff84f9;
    border: 3px solid #8e3191;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
}