.changeHomeContainer #mainContainer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 300px !important;
    height: 300px !important;
    color: #ff84f9;

    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
    border: 5px solid #d50081;
    padding-top: 0px;

    box-shadow: 8px 8px 37px 11px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s;
}

.changeHomeContainer #mainContainer button {
    margin: 10px;
    width: 150px;
    height: 60px;
    font-weight: 400;
    background: linear-gradient(45deg, #fc00ff, #0059de);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;

    user-select: none;
}

.changeHomeContainer #mainContainer button:hover {
    animation-name: gradient-fade; /* Use the animation you defined */
    animation-duration: 1s;
    transform: scale(1.05);
}

.changeHomeContainer #mainContainer button:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}

.changeHomeContainer #mainContainer #backButton{
    position: absolute;
    transform: translateY(152px);

    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    padding: 0;

    background: linear-gradient(45deg, #bd38ff, #d700de);

    color: #fff;
    /*font-size: 18px;*/
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    user-select: none;
    transition: transform 0.5s, box-shadow 0.5s;
}

.changeHomeContainer #mainContainer #backButton:hover {
    box-shadow: 0px 0px 30px 10px rgba(250, 169, 255, 0.48);
}

.changeHomeContainer #mainContainer #backButton:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}