#footer{
    height: 40px;
    width: 90%;

    /*border: 0.1rem solid black;*/

    color: #ff84f9;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border: 5px solid #830057;
    border-radius: 10px;
    border-bottom: none;

    background-color: #ff009930;
    backdrop-filter: blur(10px);
    box-shadow: 0px -2.5px 30px 1px rgba(246, 1, 157, 1);
    transition: box-shadow 1s;
}

#footer:hover{
    box-shadow: 0px -10px 30px 1px rgba(246, 1, 157, 1);
}

#footer a {
    color: #6934c4
}

#footer p,a{
    margin-left: 15px;
}

@media(max-width: 500px){
    #footer{
        /*display: none;*/
        justify-content: space-between;
    }

    p{
        font-size: 12.5px;
    }
    a{
        font-size: 12.5px;
    }
}
.myFont{
    font-family: 'Roboto';
}