.swal2-title {
    font-family: 'Roboto';
}

.swal2-text{
    font-family: 'Roboto';
}

.swal2-popup {
    font-family: 'Roboto', serif;
}

.swal2-overlay {
    background-color: rgba(21, 2, 7, 0.45);
}

.swal2-modal {
    background-color: rgb(218, 122, 191);
    border: 3px solid #9f05a9;
    border-radius: 20px;
}

.swal2-button{
    background-color: #34032c;
}

.swal2-button:hover{
    background-color: #c00ba2;
}