.adminPanelContainer{
    opacity: 1;
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 70% !important;
    color: #ff84f9;

    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
    border: 5px solid #d50081;
    padding-top: 0;
    margin-top: 80px;

    box-shadow: 8px 8px 37px 11px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s;
}

.adminPanelContainer #requestsList {
    max-height: none;
    overflow-y: auto;
}

.adminPanelContainer #requestsList::-webkit-scrollbar {
    width: 10px;
    background-color: #720045;
    border-radius: 30px;
}

.adminPanelContainer #requestsList::-webkit-scrollbar-thumb {
    background-color: #ff84f9;
    border-radius: 30px;
}

.adminPanelContainer #requestsList div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.adminPanelContainer #requestsList div .singleRequest{
    width: 75%;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border: 4px solid #d50081;
    box-shadow: 0 0 3px 1px #d50081;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.adminPanelContainer #requestsList div .singleRequest:hover{
    transform: scale(101%);
    box-shadow: 0 0 20px 1px #d93797;
}

.adminPanelContainer #requestsList div .singleRequest:last-of-type{
    margin-bottom: 20px;
}

.adminPanelContainer #requestsList div .singleRequest > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
}

.adminPanelContainer #requestsList .singleRequest > div:nth-of-type(1){
    border-right:4px solid #d50081;
}

.adminPanelContainer #requestsList .singleRequest > div:nth-of-type(2){
    border-right:4px solid #d50081;
}

.adminPanelContainer #requestsList .singleRequest > div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-right: none;
}

.adminPanelContainer #requestsList .decisionUsersImages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    /*margin-top: 20px;*/
    margin-left: 5px;
}


.adminPanelContainer .decisionUsersImages img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    /*width: 45%;*/
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 5px 1px #d50081;
    transition: transform 0.2s, box-shadow 0.5s, scale 0.5s;
}

.adminPanelContainer .decisionUsersImages img:hover{
    scale: 105%;
    box-shadow: 0px 0px 15px 1px #333333;
    cursor: pointer;
}

.adminPanelContainer .decisionUsersImages img:active{
    scale: 90%;
    box-shadow: 0px 0px 15px 1px rgba(239, 255, 12, 0.48);
}

.adminPanelContainer #requestsList .singleRequest > div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d50081;
    padding: 5px;
    width: 100%;
}

.adminPanelContainer #requestsList .singleRequest > div > div {
    flex: 1;
}

.adminPanelContainer #requestsList .singleRequest > div > div:nth-of-type(3){
    border-bottom: none;
}

.adminPanelContainer #requestsList .singleRequest > div > div p{
    text-align: center;
    margin-right: 5px;
}

.adminPanelContainer #filtersButton {
    width: 30px;
    position: absolute;
    left: 0; /* Position it on the left */
    top: 50%; /* Center vertically */
    transform: translateY(-50%) translateX(-50%) rotateY(180deg); /* Center vertically */
    border: 3px solid #8e3191;
    padding-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
    /* Add other styles for the filtersButton */
}

.adminPanelContainer #filtersButton:hover {
    scale: 102%;
    box-shadow: 0px 0px 15px 5px #d93797;
    cursor: pointer;
}

.adminPanelContainer #filtersButton:active {
    scale: 90%;
    box-shadow: 0px 0px 15px 5px rgba(239, 255, 12, 0.48);
}

.adminPanelContainer .show{
    opacity: 1 !important;
}

.adminPanelContainer .hide{
    opacity: 0 !important;
    pointer-events: none;
}

.adminPanelContainer #requestFilters{
    position: absolute;
    top: 34%; /* Center vertically */
    transform: translateX(-120%);

    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;

    width: 200px;
    height: 220px !important;
    color: #ff84f9;

    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
    border: 5px solid #d50081;
    padding-top: 0px;

    box-shadow: 8px 8px 37px 11px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, opacity 0.5s, transform 0.5s;
}

.adminPanelContainer #requestFilters > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.adminPanelContainer #requestFilters > div:nth-of-type(4){
    margin-bottom: 10px;
}

.adminPanelContainer #requestFilters > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;

}

.adminPanelContainer #requestFilters > div > div *{
    margin-right: 5px;

}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.adminPanelContainer #requestFilters input[type='number']{
    display: inline-block;
    width: 50px;

    border-radius: 5px;
    height: 20px;
    background-color: #ffb8f3;
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);

    transition: box-shadow 0.5s;
}

.adminPanelContainer #requestFilters input[type='number']:hover{
    box-shadow: 0px 0px 20px 15px rgb(129, 20, 178);
}

.adminPanelContainer #requestFilters button{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    background: linear-gradient(45deg, #bd38ff, #d700de);

    color: #fff;
    /*font-size: 18px;*/
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    user-select: none;
    transition: transform 0.1s, box-shadow 0.3s;
}

.adminPanelContainer #requestFilters button:hover{
    box-shadow: 0 0 5px 1px #d93797;
}

.adminPanelContainer #requestFilters button:active{
    box-shadow: 0px 0px 10px 1px rgba(239, 255, 12, 0.48);
}

.adminPanelContainer #requestFilters select{
    display: inline-block;
    width: 117px;
    text-align: center;
    border-radius: 5px;
    height: 20px;
    background-color: #ffb8f3;
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);

    transition: box-shadow 0.5s;
}

.adminPanelContainer #requestFilters select:hover{
    box-shadow: 0px 0px 20px 15px rgb(129, 20, 178);
}

.adminPanelContainer #requestFilters #easyFinalize{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adminPanelContainer #requestFilters input[type='checkbox']{
    border-radius: 5px;
    background-color: #ffb8f3;
    color: #34032c;
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);
}

.adminPanelContainer #requestFilters #filtersHeader{
    position: absolute;
    top: 0;
    transform: translateX(75%) translateY(-115%);

    width: 70px;
    height: 25px;

    border: 3px solid #8e3191;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
}

.adminPanelContainer #newRequestButton {
    width: 30px;
    position: absolute;
    right: 0; /* Position it on the left */
    top: 50%; /* Center vertically */
    transform: translateY(-50%) translateX(50%); /* Center vertically */
    border: 3px solid #8e3191;
    padding-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
    /* Add other styles for the filtersButton */
}

.adminPanelContainer #newRequestButton:hover {
    scale: 102%;
    box-shadow: 0px 0px 15px 5px #d93797;
    cursor: pointer;
}

.adminPanelContainer #newRequestButton:active {
    scale: 90%;
    box-shadow: 0px 0px 15px 5px rgba(239, 255, 12, 0.48);
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.adminPanelContainer .showNew{
    opacity: 1 !important;
}

.adminPanelContainer .hideNew{
    opacity: 0 !important;
    pointer-events: none;
}

.adminPanelContainer #requestNew{
    position: absolute;
    top: 34%; /* Center vertically */
    transform: translateX(120%);
    right: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;

    width: 200px;
    height: 220px !important;
    color: #ff84f9;

    font-weight: bold;
    border-radius: 15px;
    border: 5px solid #d50081;
    padding-top: 0px;

    box-shadow: 8px 8px 37px 11px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, opacity 0.5s, transform 0.5s;
}

.adminPanelContainer #requestNew > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.adminPanelContainer #requestNew > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.adminPanelContainer #requestNew > div:nth-of-type(4){
    margin-bottom: 10px;
}

.adminPanelContainer #requestNew > div > div *{
    margin-right: 5px;

}

.adminPanelContainer #requestNew input[type='number']{
    display: inline-block;
    width: 50px;

    border-radius: 5px;
    height: 20px;
    background-color: #ffb8f3;
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);

    transition: box-shadow 0.5s;
}

.adminPanelContainer #requestNew input[type='number']:hover{
    box-shadow: 0px 0px 20px 15px rgb(129, 20, 178);
}

.adminPanelContainer #requestNew button{
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    background: linear-gradient(45deg, #bd38ff, #d700de);

    color: #fff;
    /*font-size: 18px;*/
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    user-select: none;
    transition: transform 0.1s, box-shadow 0.3s;
}

.adminPanelContainer #requestNew button:hover{
    box-shadow: 0 0 5px 1px #d93797;
}

.adminPanelContainer #requestNew button:active{
    box-shadow: 0px 0px 10px 1px rgba(239, 255, 12, 0.48);
}

.adminPanelContainer #requestNew select{
    display: inline-block;
    width: 117px;
    text-align: center;
    border-radius: 5px;
    height: 20px;
    background-color: #ffb8f3;
    border: 2px solid #ff02b3;
    /*outline: 2px solid #ff70c9;*/
    box-shadow: 8px 8px 37px 6px rgb(129, 20, 178);

    transition: box-shadow 0.5s;
}

.adminPanelContainer #requestNew select:hover{
    box-shadow: 0px 0px 20px 15px rgb(129, 20, 178);
}

.adminPanelContainer #requestNew #requestNewHeader{
    position: absolute;
    top: 0;
    transform: translateX(29%) translateY(-115%);

    width: 120px;
    height: 25px;

    border: 3px solid #8e3191;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
}

.adminPanelContainer #adminPanelTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    position: absolute;
    width: 340px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -125%);
    text-align: center;
    animation: pulse 2.5s infinite;

    color: #ff84f9;
    border: 3px solid #8e3191;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
}