.changePasswordContainer #mainForm{
    width: 300px !important;
    height: 250px !important;
}

.changePasswordContainer form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.changePasswordContainer form button {
    margin-top: 40px;
    width: 80px;
    height: 40px;
    background: linear-gradient(45deg, #fc00ff, #0059de);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;

    user-select: none;
}

.changePasswordContainer form button:hover {
    animation-name: gradient-fade; /* Use the animation you defined */
    animation-duration: 1s;
    transform: scale(1.05);
}

.changePasswordContainer form button:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}

.changePasswordContainer form #backButton{
    position: absolute;
    transform: translateY(350%);

    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    padding: 0;

    background: linear-gradient(45deg, #bd38ff, #d700de);

    color: #fff;
    /*font-size: 18px;*/
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    user-select: none;
    transition: transform 0.5s, box-shadow 0.5s;
}

.changePasswordContainer form #backButton:hover {
    box-shadow: 0px 0px 30px 10px rgba(250, 169, 255, 0.48);
}

.changePasswordContainer form #backButton:active {
    box-shadow: 0px 0px 30px 10px rgba(239, 255, 12, 0.48);
}

.changePasswordContainer #updatePasswordTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -125%);
    text-align: center;
    animation: pulse 2.5s infinite;

    color: #ff84f9;
    border: 3px solid #8e3191;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(129, 20, 178);
    background-color: rgba(115, 0, 75, 0.76);
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s, width 0.5s, height 0.5s, scale 0.1s;
}